* {
    box-sizing: border-box;
    font-family: Roboto;
    text-align: center;
    margin: 0;
    padding: 0;
}

.promo {
    min-width: 1140px;
    margin: 0 auto;
    min-height: 802px;
    background: url('/img/main_bg.jpeg') center center/cover no-repeat;
}

.info {
    min-width: 1140px;
    margin: 0 auto;
    min-height: 607px;
    background: #EFEFEF;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.logo .logo__svg {
    display: block;
    margin: 0 auto;
    padding-top: 38px;
}

.logo .logo__text {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 10px;
}

h1.title {
    font-size: 41px;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 53px;
}

.simple .title__big {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 21px;
}

.line {
    width: 292px;
    height: 2px;
    color: #FFFFFF;
}

.title {
    font-size: 41px;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #F9BF3B;
    margin-top: 21px;
}

.promo__text {
    font-size: 21px;
    font-weight: 300;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 22px;
}

.marker {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    color: #F9BF3B;
}

.promo__btn,
.gift__btn {
    cursor: pointer;
    outline: none;
    width: 313px;
    height: 72px;
    top: 551px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    margin-top: 72px;
    color: #FFFFFF;
    font-family: 'RobotoCondensed';
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
}

.promo__btn:hover,
.gift__btn:hover {
    filter: brightness(80%);
}

.promo__btn:active,
.gift__btn:active {
    filter: brightness(90%);
    transform: scale(0.98);
}

.more .more__text {
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
}

.more .more__svg {
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
}

.more__svg:hover {
    filter: brightness(90%);
}

.more__svg:active {
    transform: scale(0.9);
}

.wait .wait__text {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    color: #252525;
    padding-top: 74px;
}

.wait .line,
.after .line {
    width: 217px;
    height: 4px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 20px;
}

.wait h3 {
    font-size: 23px;
    font-weight: 400;
    color: #4A4A4A;
    margin-top: 20px;
}

.freature__list {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    gap: 48px;
}

.freature__item {
    width: 360px;
}

.freature__one_pic {
    width: 342px;
    height: 201px;
}

.freature__text {
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 26px;
    color: #4A4A4A;
}

.optimization {
    position: relative;
    min-height: 560px;
    width: 1140px;
    margin: 0 auto;
    background: #FFFFFF;
}

.optimization__text {
    width: 840px;
    height: 502px;
    position: absolute;
    margin-top: 119px;
    z-index: 1;
    right: 0px;
}

.optimization__header {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization__article {
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    color: #4A4A4A;
    margin-top: 15px;
}

.optimization__article span {
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
}

.optimization_img {
    position: absolute;
    right: 650px;
    width: 862px;
    height: 502px;
    background: url('/img/woman_bg.jpg');
    margin-top: 58px;
}

.after {
    min-width: 1140px;
    min-height: 450px;
    background: url('/img/second_bg.jpg') center center/cover no-repeat;
}

.after__header {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #EFEFEF;
    padding-top: 84px;
}

.skills {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 39px;
}

.skills__svg {
    display: block;
    width: 67px;
    height: 48px;
    margin: 0 auto;
}

.skill_box {
    width: 200px;
}

.skills__img {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 118px;
    height: 118px;
    background-color: #B4E2FF;
    border-radius: 50%;
    margin: 0 auto;
}

.skills__text {
    font-weight: 300;
    font-size: 17px;
    color: #EFEFEF;
    margin-top: 25px;
}

.gift {
    min-width: 1140px;
    min-height: 631px;
    background: #EFEFEF;
    padding-top: 85px;
}

.gift__img {
    display: block;
    width: 154px;
    height: 174px;
    margin: 0 auto;
    background: url(/icons/Rectangle.svg) no-repeat;
}

.gift__text {
    width: 1161px;
    font-weight: 400;
    font-size: 30px;
    line-height: 43px;
    color: #252525;
    margin: 0 auto;
    margin-top: 45px;
}

.gift__btn {
    margin: 0 auto;
    padding-top: 23px;
    margin-top: 50px;
}

.weblesson {
    min-width: 1140px;
    min-height: 548px;
    background: #FFFFFF;
    padding-top: 89px;
}

.weblesson__img {
    display: block;
    width: 342px;
    height: 201px;
    margin: 0 auto;
    background: url('/img/first.png')
}

.weblesson__h2 {
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    color: #252525;
    margin-top: 36px;
}

.weblesson__date {
    font-weight: 900;
    font-size: 36px;
    text-transform: uppercase;
    color: #299CBD;
    margin-top: 30px;
}

.weblesson__text {
    font-weight: 400;
    font-size: 23px;
    color: #4A4A4A;
    margin-top: 24px;
}

.footer {
    min-width: 1140px;
    min-height: 169px;
    background: #1A1A1A;
    padding-top: 60px;
}

.contacts {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #888888;
}

.contacts span {
    cursor: pointer;
    text-decoration: underline;
}